<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- مهم في Android 11+ باش نقدر نشوف كامل الباكاجات -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- هذو عمومًا يتفعّلو كـ privileged عن طريق privapp-permissions XML،
         بصح نخليهم هنا توثيقًا -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".AppManagerApplication"
        android:label="AppManagerServer"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- مهم للـ priv-app: نخليه يشتغل كـ system user -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Activity بسيطة باش monkey يقدر يشتغل التطبيق -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver باش السيرفر يتشعل بعد البوت -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Service باش نقدر نشعل السيرفر يدويًا -->
        <service
            android:name=".AppManagerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.freeadbremote.remoteserver.START_SERVER" />
            </intent-filter>
        </service>

    </application>

</manifest>
